In [166]:
%run code/helper_functions.ipynb

In [144]:
df = pd.read_csv("data/large_train_sample.csv")

In [145]:
cont_vars = ['education-num', 'age', 'hours-per-week', 'capital-gain', 'capital-loss', 'fnlwgt']

In [146]:
df['wage'] = df['wage'].apply(lambda a: int(a==' >50K'))

In [147]:
df.groupby(by="marital-status").mean()['wage'].sort_values(ascending=False)

marital-status
 Married-civ-spouse       0.446848
 Married-AF-spouse        0.434783
 Divorced                 0.104209
 Widowed                  0.085599
 Married-spouse-absent    0.081340
 Separated                0.064390
 Never-married            0.045961
Name: wage, dtype: float64

In [148]:
df.groupby(by="occupation").count()['wage'].sort_values(ascending=False)

occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: wage, dtype: int64

In [149]:
df.groupby(by="education").count()['wage'].sort_values(ascending=False)

education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: wage, dtype: int64

In [150]:
df.groupby(by="education").count()['wage'].sort_values(ascending=False)

education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: wage, dtype: int64

In [151]:
df['is_usa'] = df['native-country'].apply(lambda a: int(a==' United-States'))
cont_vars.append("is_usa")

df["is_top7_occ"] = df["occupation"].apply(lambda a: int(a==' Exec-managerial'
                                                       or a==' Prof-specialty'
                                                       or a==' Protective-serv'
                                                       or a==' Tech-support'
                                                       or a==' Sales'
                                                       or a==' Craft-repair'
                                                       or a==' Transport-moving'))
cont_vars.append("is_top7_occ")


df['is_top4_occ'] = df["occupation"].apply(lambda a: int(a==' Exec-managerial'
                                                       or a==' Prof-specialty'
                                                       or a==' Protective-serv'
                                                       or a==' Tech-support'))
cont_vars.append("is_top4_occ")

df["is_top2_occ"] = df["occupation"].apply(lambda a: int(a==' Exec-managerial'
                                                       or a==' Prof-specialty'))
cont_vars.append("is_top2_occ")

df["is_married"] = df["marital-status"].apply(lambda a: int(a==' Married-civ-spouse' or a==' Married-AF-spouse'))
cont_vars.append('is_married')

df["is_male"] = df["sex"].apply(lambda a: int(a==' Male'))
cont_vars.append('is_male')

df["is_high_ed"] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                       or a==' Prof-school'
                                                       or a==' Bachelors'
                                                       or a==' Masters'))
cont_vars.append('is_high_ed')


df['is_doct_or_prof'] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                            or a==' Prof-school'))
cont_vars.append('is_doct_or_prof')

df["is_hs_grad"] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                       or a==' Prof-school'
                                                       or a==' Bachelors'
                                                       or a==' Masters'
                                                       or a==' Assoc-voc'
                                                       or a==' Assoc-acdm'
                                                       or a==' Some-college'
                                                       or a==' HS-grad'
                                                      ))
cont_vars.append('is_hs_grad')

df["is_high_ed"] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                       or a==' Prof-school'
                                                       or a==' Bachelors'
                                                       or a==' Masters'))
cont_vars.append('is_high_ed')


df['is_doct_or_prof'] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                            or a==' Prof-school'))
cont_vars.append('is_doct_or_prof')

df["is_hs_grad"] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                       or a==' Prof-school'
                                                       or a==' Bachelors'
                                                       or a==' Masters'
                                                       or a==' Assoc-voc'
                                                       or a==' Assoc-acdm'
                                                       or a==' Some-college'
                                                       or a==' HS-grad'
                                                      ))
cont_vars.append('is_hs_grad')

In [152]:
df.to_csv("data/train_CLEAN.csv",index=False)

In [167]:
# get_interacting_corr_heatmap(df, cont_vars, "wage", degree=1);

In [168]:
# get_interacting_corr_heatmap(df, cont_vars, "wage", degree=2);